@media (max-width: 1280px) {
    a {
        display: none;
    }
    .logo {
        display: block;
        width: 130px;
    }
    .menu {
        font-size: 21px !important;
        display: block !important;
    }
    .herosection {
        width: 100vw;
        height: 90svh;
        margin-top: 0;
        margin-bottom: 0;
    }
    .herosection h1 {
        margin-top: 1rem;
        font-size: calc(3vw + 3vh);
        width: inherit;
    }
    .herosection div {
        width: inherit;
    }
}

@media (max-width: 280px) {
    .herosection div button {
        padding: 10px;
        font-size: 15px;
    }
}